{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
<body>
    <section class="container">
        <section id="hero">
            <div class="cardTest">
            <h1> Welcome to The Retro Football Store</h1>
            </div>
            <div class="row">
            
                <div class="card card1">
                <h3> AUTHENTIC & HIGH QUALITY</h3>
                </div>
                <div class="card card2">
                <h3> FREE SHIPPING</h3>
                </div>
                <div class="card card3">
                <h3>BEST PRICES</h3>
                </div>
                <div class="card card4">
                <h3>HUGE SELECTION</h3>
                </div>

    
            </div>

        <div class="cardAdvert">
        </div>   

            
        </section>
    </section>

</body>
<footer>

</footer>


{% endblock %}